<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div>
        <h3>Bienvenido!</h3>
        <hr>
    </div>
    <div>
        Dashboard
        <br>

        <p>
            Pacientes totales: <br>
            {{ total_pacientes }}
        </p>
        <p>
            Fichas totales <br>
            {{ total_fichas }}
        </p>
    </div>
    <div>
        <form action="{% url 'listar_paciente' %}">
            <button>Ver todos los pacientes</button>
        </form>
    </div>
</body>
</html>